/*
  Name: Artem Zabarov
  File: styles.css
  Date: 3/31/2021
*/


/* CSS Reset */
body, header, nav, main, footer, img, h1, h3, ul, dl, figure, figcaption, aside, article, section {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Style rules for body and images */
body {
  background: linear-gradient(to top, #f6eee4, #e6d9cb);
}

img {
  max-width: 100%;
  display: block;
}

header img {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

/* Style rules for main content */

.mobile, .mobile-tablet {
  display: block;
}

.tab-desk, .desktop, #menu-links {
  display: none;
}

.round {
  border-radius: 6px;
}

header {
  text-align: center;
  margin-top: 20px;
  font-family: 'DM Serif Display', serif;
}

nav {
  background-color: #2a1f14;
}

.mobile-nav a {
    color: #fff;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    padding: 3%;
    display: block;
}
 
.mobile-nav a.menu-icon {
    display: block;
    position: absolute;
    right: 0; 
    top: 0;  
}
 
.menu-icon div {
    height: 50px;
    width: 50px;
    background-color: #2a1f14;
}


nav li a:hover {
  color: #2a1f14;
  background-color: #f6eee4;
  opacity: 0.5;
}

a:link {
  text-decoration: none;
  color: #f6eee4;
}


dd {
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
}

dt {
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}



.tel-link {
    background-color: #2a1f14;
    padding: 2%;
    margin: 0 auto 20px auto;
    width: 80%;
    text-align: center;
    border-radius: 5px;
    font-size: 1.6em;
    color: #f6eee4;
}

.tel-link a {
    text-decoration: none;
    font-size: 0.9em;
    display: block;
}

.email-link {
    background-color: #2a1f14;
    padding: 2%;
    margin: 0 auto 20px auto;
    width: 80%;
    text-align: center;
    border-radius: 5px;
    font-size: 1.6em;
    color: #f6eee4;
}


.email-link a {
    display: block;
    text-decoration: none;
    font-weight: bold;
}

.map {
  border: 5px solid #2a1f14;
  width: 95%;
  height: 300px;
  margin: 30px auto 100px auto;
  display: block;
}

.post {
  float: right;
  margin-right: 10px;
}

#feed {
  width: 90%;
  padding-bottom: 100px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.rcorners2 {
  background-color: white;
  border-radius: 25px;
  border: 2px solid #2a1f14;
  padding: 10px; 
  width: 90%;
  min-height: 150px;  
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding-bottom: 50px; 
}

ol {
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
}

main {
  padding: 2%;
  font-family: 'Roboto', sans-serif;
}

main p {
  font-size: 1.25em;
}


aside {
  grid-column: 1 / span 2;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 4px 4px 10px #737373;
}

figure img {
  border: 4px solid #2a1f14;
  box-shadow: 6px 6px 10px #c5a687;
  max-width: 400px;
  margin: 2% auto;
}

/* Style rules for form */

fieldset, input, textarea {
  margin-bottom: 2%;
}

fieldset legend {
  font-weight: bold;
  font-size: 1.25em;
}

label {
  display: block;
  padding-top: 2%;
}

form #submit, form #reset {
  margin: 0 auto;
  display: inline-block;
  padding: 2%;
  background-color: #78593a;
  color: #f6eee4;
  font-size: 1.25em;
  border-radius: 10px;
  border: none;
  width: 40%;
}

#buttons {
  width: 50%;
  margin: 0 auto;
}

textarea {
  margin: 2% auto;
}

/* Style rules for table */

table {
  border: 1px solid #2a1f14;
  border-collapse: collapse;
  margin: 0 auto;
}

caption {
  font-size: 1em;
  font-weight: bold;
  padding: 1%;
}

th, td {
  border: 1px solid #2a1f14;
  padding: 1%;
  width: 10%;
  font-size: 0.7em;
}

table tr:nth-child(odd) {
  background-color: #deccba;
}

/* Style rules for footer */


footer {
 position: sticky;
 background-color: #2a1f14;
 bottom: 0;
 width: 100%;
 text-align: center;
 font-size: 1em;
 padding-top: 1%;
 padding-bottom: 1%;
 height: 2%;
 color: #f6eee4;
}


@media screen and (min-width: 620px), print {
  /* Tablet Viewport: Show tab-desk class, hide mobile class */

  .tab-desk, .desktop {
    display: block;
  }

  .mobile, #mobile-nav {
    display: none;
  }

  .menu-icon div {
    display: none;
  }

  /* Tablet Viewport: Style rules for nav area */

  nav li {
    border-top: none;
    display: inline-block;
    font-size: 1.25em;
    border-color: #f6eee4;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }

  nav li a {
    padding: 0.5em;
    color: #f6eee4;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    display: block;
  }

  nav ul {
  list-style: none;
  text-align: center;
  }


  /* Tablet Viewport: Style rules for main content */
  .tel-link a {
    font-size: 1.1em;
  }

  ul img {
  max-width: 35%;
  }

  header img:hover {
    transform: scale(1.1);
  }

  /* Style rules for table */

  th, td {
    font-size: 1.15em;
  }

  caption {
    font-size: 1.5em;
  }


  /* Style rules for form */

  form {
    width: 70%;
    margin: 0 auto;
  }
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1000px), print {
  
  .desktop {
    display: block
  }

  /* Desktop Viewport: Style rules for nav area */

  nav li {
    font-size: 1.5em;
  }

  nav li a {
    padding: 0.5em 1.5em;
  }

  /* Desktop Viewport: Style rules for main content */
  

  #feed {
    width: 70%;
  }

.grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
  }

/* Desktop Viewport: Style rules for form elements */

form {
  width: auto;
}

.form-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}

#buttons {
  grid-column: 1 / span 2;
  text-align: center;
}

}

/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px), print {
 
}
