/*
  Name: Artem Zabarov
  File: styles.css
  Date: 3/31/2021
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, h3, ul, dl {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Style rules for body and images */
body {
  background-color: #ccffcc;
}

img {
  max-width: 100%;
  display: block;
}

#wrap img {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

/* Style rules for main content */


.round {
  border-radius: 6px;
}

header {
  text-align: center;
  margin-top: 20px;
  font-family: 'DM Serif Display', serif;
}

nav {
  background-color: #b3ffb3;
}

nav a:hover {
  background-color: #a5de54;
}

a:link {
  text-decoration: none;
  color: #000000;
}


dd {
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
}

dt {
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav li{
  display: block;
  border-top: 1px solid #fff;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

nav li a {
  display: block;
  color: #000000;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}


.tel-link {
    background-color: #73AD21;
    padding: 2%;
    margin: 0 auto 20px auto;
    width: 80%;
    text-align: center;
    border-radius: 5px;
    font-size: 1.6em;
}

.tel-link a {
    color: #000;
    text-decoration: none;
    font-size: 1.2em;
    display: block;
}

.map {
  border: 5px solid #73AD21;
  width: 95%;
  height: 300px;
  margin: 30px auto 100px auto;
  display: block;
}

.post {
  float: right;
  margin-right: 10px;
}

#feed {
  width: 90%;
  padding-bottom: 400px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
#rcorners2 {
  background-color: white;
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 10px; 
  width: 90%;
  min-height: 150px;  
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding-bottom: 50px; 
}

ol {
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
}

main {
  padding: 2%;
  font-family: 'Roboto', sans-serif;
}

main p {
  font-size: 1.25em;
}

/* Style rules for footer */


footer {
 position: sticky;
 background-color: #66ff66;
 bottom: 0;
 width: 100%;
 text-align: center;
 font-size: 1em;
 padding-top: 1%;
 padding-bottom: 1%;
 height: 2%;
}

@media screen and (min-width:300px), print {

/* Mobile Viewport: Style rules for main content */
  .tel-link a {
    font-size: 0.9em;
  }

  body {
    background: linear-gradient(to top, #b3ffb3, #ccffcc 100%);
  }

  .tab-desk {
    display: none;
  }
}

@media screen and (min-width: 620px), print {
  /* Tablet Viewport: Show tab-desk class, hide mobile class */

  .tab-desk {
    display: block;
  }

  .mobile {
    display: none;
  }

  /* Tablet Viewport: Style rules for nav area */

  nav li {
    border-top: none;
    display: inline-block;
    font-size: 1.25em;
  }

  nav li a {
    padding: 0.5em;
  }

  /* Tablet Viewport: Style rules for main content */
  .tel-link a {
    font-size: 1.1em;
  }

  ul img {
  max-width: 35%;
  }

}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1000px), print {
  
  /* Desktop Viewport: Style rules for nav area */

  nav li {
    font-size: 1.5em;
  }

  nav li a {
    padding: 0.5em 1.5em;
  }

  /* Desktop Viewport: Style rules for main content */
  
  .column {
  float: left;
  margin-left: ;
  }

  .right {
    width: 33%;
  }

  .middle {
    width: 33%;
  }

  .left {
    width: 33%;
  }

  #feed {
    width: 70%;
  }

}

/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px), print {
 
}
